@font-face {
  font-family: "Public Sans Regular";
  src: url("https://db.onlinewebfonts.com/t/ee776793214ebf7a55537a2a48fb3eeb.eot");
  src: url("https://db.onlinewebfonts.com/t/ee776793214ebf7a55537a2a48fb3eeb.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/ee776793214ebf7a55537a2a48fb3eeb.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/ee776793214ebf7a55537a2a48fb3eeb.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/ee776793214ebf7a55537a2a48fb3eeb.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/ee776793214ebf7a55537a2a48fb3eeb.svg#Public Sans Regular")format("svg");
}
.navbarContainer {
  width: 100%;
  background: rgba(30, 46, 95, 0.50); /* Semi-transparent white */
  position: absolute;
  z-index: 100;
  top: 0;
}


.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.logoBox {
  display: flex;
  align-items: center;
}

.logo {
  width: 72px;
  height: auto;
}

.linksAndIcons {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navLinks {
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li a {
  position: relative;
  color: #EEE;
  font-family: "Public Sans Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.navLinks li a::after {
  content: ""; 
  position: absolute;
  left: 0;
  bottom: -5px; 
  width: 0;
  height: 2px;
  background-color: #EEE; 
  transition: width 0.2s ease; 
}

.navLinks li a:hover::after {
  width: 100%; 
}

.iconBox {
  display: flex;
  gap: 50px;
}

.icon {
  width: 30px;
  height: auto;
}
.navLinks li a.activeLink::after,
.mobileNavLinks li a.activeLink::after {
  width: 100%; /* Full width for active link */
}

.navLinks li a.activeLink,
.mobileNavLinks li a.activeLink {
  color: #EEE; /* Ensure active link color matches hover */
}
/* Mobile/Mini Tablet View */
.mobileNavbar {
  display: none;
  justify-content: space-between;
  align-items:center; /* Aligns items to the top */
  padding: 15px 20px;
  background: rgba(30, 46, 95, 0.50);
  position: relative; /* Ensures relative positioning for child elements */
}

/* Mobile Icons */
.mobileIcons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.hamburgerIcon {
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger {
  width: 28px;
  height: auto;
  
}

/* Mobile Menu */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.showOverlay {
  opacity: 1;
  visibility: visible;
}

/* Mobile Menu */
.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  background: rgba(30, 46, 95, 1);
  z-index: 200;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.menuOpen {
  transform: translateX(0);
}

/* Close Button */
.intIconWrapper {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intIconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.intIcon {
  width: 28px;
  transition: transform 0.3s ease;
}

.intIcon:hover {
  transform: scale(1.1);
}

/* Navigation Links */
.mobileNavLinks {
  list-style: none;
  margin-top: 60px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.mobileNavLinks li {
  padding: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.mobileNavLinks li a {
  font-family: "Public Sans", sans-serif;
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease-in-out;
}

.mobileNavLinks li a:hover {
  color: #f4b400;
}

/* .textContentWrapper {
  margin-top: 60px; 
  padding: 15px 20px;
} */


/* Responsive view */

@media (max-width: 1440px) and (min-width: 1024px) {
  .navbar {
    padding: 15px; 
  }

  .logo {
    width: 70px;
    height: auto; 
  }

  .navLinks {
    gap: 35px; 
  }

  .navLinks li a {
    font-size: 16px; 
  }

  .icon {
    width: 25px; 
    height: auto;
  }

  .linksAndIcons {
    gap: 35px; 
  }
  .iconBox{
    gap: 35px;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  
  .iconBox{
    gap: 20px;
  }
  .navbar {
    padding: 10px;
  }

  .logo {
    width: 50px;
    height: auto;
  }

  .navLinks {
    gap: 20px;
  }

  .navLinks li a {
    font-size: 15px;
  }

  .icon {
    width: 22px;
    height: auto;
  }

  .linksAndIcons {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .mobileNavbar {
    display: flex;
    background: rgba(94, 90, 114, 0.20);
  }
  .navbar {
    display: none;
  }
  .logo {
    width: 60px;
    height: 68px;
  }

  .icon {
    width: 30px;
  }

  .hamburger {
    width: 30px;
  }

  .mobileNavLinks li a {
    font-size: 16px;
  }
  .mobileNavLinks li a:hover {
    background: rgba(30, 46, 95, 0.8);
  }
} 
