@font-face {
  font-family: "Halyard Display";
  src: url("https://db.onlinewebfonts.com/t/c4d8819fda4c3fd79e36cedcc8d422bb.eot");
  src: url("https://db.onlinewebfonts.com/t/c4d8819fda4c3fd79e36cedcc8d422bb.eot?#iefix") format("embedded-opentype"),
       url("https://db.onlinewebfonts.com/t/c4d8819fda4c3fd79e36cedcc8d422bb.woff2") format("woff2"),
       url("https://db.onlinewebfonts.com/t/c4d8819fda4c3fd79e36cedcc8d422bb.woff") format("woff"),
       url("https://db.onlinewebfonts.com/t/c4d8819fda4c3fd79e36cedcc8d422bb.ttf") format("truetype"),
       url("https://db.onlinewebfonts.com/t/c4d8819fda4c3fd79e36cedcc8d422bb.svg#Halyard Display") format("svg");
}

.mainContainer {
  display: flex;
  justify-content: center;
  background-color: #122355;
  color: white;
  padding: 50px 20px;
  width: 100%;
  box-sizing: border-box; 
  margin-bottom: 20px;
}

.imageContainer {
  width: 30%; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/Contactimages/contactimage2.png'); 
  background-position: center;
  height: 250px;
  background-repeat: no-repeat;
  aspect-ratio: 16 / 9; 
}

.detailsContainer {
  width: 50%; 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactInfoContainer {
  width: 100%; 
  padding: 15px;
}

.contactDetailsContainer {
  width: 100%;
  padding: 15px;
}

.heading {
  font-family: "Halyard Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.heading2{
  font-family: "Halyard Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 15px;
  padding-bottom: 5px;
  color: #122355;
}

.infoRow,
.detailsRow {
  font-family: "Halyard Display Book";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px; 
  position: relative;
}

.icon {
  display: block;
  width: auto;
}

/* Responsive Design */

@media (max-width: 1400px) and (min-width:901px){
  .mainContainer{
    justify-content: space-evenly;
  }
  .imageContainer {
    width: 30%; 
    height: 200px;
    background-size: contain; 
  }

  .detailsContainer {
    width: 50%; 
    flex-direction: row; 
    align-items: center; 
    gap: 30px; 
  }

  .contactInfoContainer {
    padding: 10px;
  }

  .contactDetailsContainer {
    padding: 10px;
  }

  .heading,
  .heading2 {
    font-size: 30px; 
    margin-bottom: 10px;
  }

  .infoRow,
  .detailsRow {
    font-size: 18px;
    margin-bottom: 8px;
    gap: 8px; 
  }

  .icon {
    width: 18px; 
    height: 18px; 
  }
  

}
@media (max-width: 900px) and (min-width:701px){
  .mainContainer {
    padding: 30px 15px;
    margin-bottom: 15px;
    justify-content: space-evenly;
  }

  .imageContainer {
    width: 30%;
    height: 200px; 
    background-size: contain; 
  }

  .detailsContainer {
    width: 60%; 
    flex-direction: row; 
    align-items: center; 
    gap: 30px; 
  }

  .contactInfoContainer {
    padding: 10px;
  }

  .contactDetailsContainer {
    padding: 10px;
    width: 90%;
  }

  .heading,
  .heading2 {
    font-size: 28px; 
    margin-bottom: 10px;
  }

  .infoRow,
  .detailsRow {
    font-size: 16px;
    margin-bottom: 8px;
    gap: 8px; 
  }

  .icon {
    width: 18px; 
    height: 18px;
  }
  

}
@media (max-width: 700px) and (min-width:601px){
  .mainContainer{
    padding: 10px 30px;
  }
 
  .imageContainer {
    display: none;
    }
    
  .detailsContainer {
    flex-direction: column;
    width: 80%; 
    gap: 1px; 
  }
    .contactInfoContainer,
    .contactDetailsContainer {
      width: 100%;
      text-align: left;
    }
  
    .heading {
      font-size: 22px;
      text-align: center; 
    }
  
    .infoRow
    {
      justify-content: flex-start; 
      padding-left: 0;
      margin-bottom: 8px;
      font-size: 14px;
      width: 95%;
  
   }
   .detailsRow
    {
      justify-content:  flex-start; 
      padding-left: 0;
      margin-bottom: 8px;
      font-size: 14px;
  
   }
   
    .icon {
      width: 16px;
      height: 16px;
    }
  
    .infoRow:first-of-type .heading {
      text-align: center; 
    }
    .contactDetailsContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: 5px; 
    }
    .heading2{
      display: none;
    }
}

@media (max-width: 600px) and (min-width:351px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1px; 
    padding: 5px 20px ;
  }

  .imageContainer {
  display: none;
  }

  

  .detailsContainer {
    flex-direction: column;
    width: 100%; 
    gap: 1px; 
  }

  .contactInfoContainer,
  .contactDetailsContainer {
    width: 100%;
    text-align: left;
  }

  .heading {
    font-size: 22px;
    text-align: center; 
  }

  .infoRow
  {
    justify-content: flex-start; 
    padding-left: 0;
    margin-bottom: 8px;
    font-size: 14px;
    width: 95%;

 }
 .detailsRow
  {
    justify-content:  flex-start; 
    padding-left: 0;
    margin-bottom: 8px;
    font-size: 14px;

 }
 
  .icon {
    width: 16px;
    height: 16px;
  }

  .infoRow:first-of-type .heading {
    text-align: center; 
  }
  .contactDetailsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px; 
  }
  .heading2{
    display: none;
  }
}
@media (max-width: 350px){
  .mainContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1px; 
    padding: 5px 20px ;
  }

  .imageContainer {
  display: none;
  }

  

  .detailsContainer {
    flex-direction: column;
    width: 100%; 
    gap: 1px; 
  }

  .contactInfoContainer,
  .contactDetailsContainer {
    width: 100%;
    text-align: left;
  }

  .heading {
    font-size: 22px;
    text-align: center; 
  }

  .infoRow
  {
    justify-content: flex-start; 
    padding-left: 0;
    margin-bottom: 8px;
    font-size: 12px;
    width: 95%;

 }
 .detailsRow
  {
    justify-content:  flex-start; 
    padding-left: 0;
    margin-bottom: 8px;
    font-size: 12px;

 }
 
  .icon {
    width: 16px;
    height: 16px;
  }

  .infoRow:first-of-type .heading {
    text-align: center; 
  }
  .contactDetailsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px;
    padding: 5px;
  }
  .heading2{
    display: none;
  }
  

}