.box3 {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Tab Bar Styles */
.tabBar {
  display: flex;
  justify-content: space-around;
  background-color: #EDEDED;
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 30px;
  }
  
  .tab {
  padding: 10px 70px;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  }
  
  .activeTab {
  padding: 10px 50px;
  color: #fff;
  border-radius: 50px;
  background: var(--secondary, #1D75BD);
  border: #007bff;
  }
  
  
  .tab:hover {
  color: #007bff;
  }

  .tabBar button{
    text-align: center;
    font-family: "Public Sans Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
      }
      .tabBar button.activeTab{
        font-weight: 700; 
      }
/* Content Section */
.content {
  width: 100%;
  padding: 20px;
  background-color: #F7F7F7;
}

.boxContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.innerContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
}

.innerContainer > :nth-child(1),
.innerContainer > :nth-child(2),
.innerContainer > :nth-child(3),
.innerContainer > :nth-child(4),
.innerContainer > :nth-child(5) {
  grid-column: span 2;
}

.innerContainer > :nth-child(6) {
  grid-column: 2 / span 2;
}

.innerContainer > :nth-child(7) {
  grid-column: 4 / span 2;
}

.innerContainer > :nth-child(8) {
  grid-column: 6 / span 2;
}

.innerContainer > :nth-child(9) {
  grid-column: 8 / span 2;
}

.innerContainer.storageUnit {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  perspective: 1000px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.box:hover {
  transform: scale(1.1);
}

.text {
  margin-top: 10px;
  font-family: "Halyard Display book";
  font-size: 20px;
  transition: color 0.3s ease;
  color: #000; /* Default color */
}

.box:hover .text {
  color: #007bff; 
}

.iconContainer {
  width: 90px;
  height: 90px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.box:hover .iconContainer {
  transform: rotateY(180deg); 
}

.icon {
  width: 90px;
  height: 90px;
  display: block;
}



/* Responsive Design */

@media (max-width: 1200px) and (min-width: 901px){
  .tabBar button {
    font-size: 18px;
    line-height: 1.3;
  }
  .text {
    font-size: 18px;
    text-align: center;
    margin-top: 20px; 
    
  }


}
@media (max-width: 900px) and (min-width: 768px){
  .tabBar {
    padding: 5px;
    width: 90%;
    margin-bottom: 20px;  
  }

  .activeTab {
    padding: 5px 15px;
  }
  
  .tab {
    padding: 10px 15px;
  }

  .tabBar button {
    font-size: 16px;
    line-height: 1.3;
  }


  .innerContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    height: 150px; 
    max-width: 200px; 
    text-align: center;
    padding: 10px;
  }

  .iconContainer {
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .icon {
    width: 100px;
    height: 100px;
  }

  .text {
    font-size: 16px;
    text-align: center;
    margin-top: 20px; 
    
  }

  .innerContainer > :nth-child(1),
  .innerContainer > :nth-child(2),
  .innerContainer > :nth-child(3),
  .innerContainer > :nth-child(4),
  .innerContainer > :nth-child(5),
  .innerContainer > :nth-child(6),
  .innerContainer > :nth-child(7),
  .innerContainer > :nth-child(8),
  .innerContainer > :nth-child(9) {
    grid-column: span 1;
  }
  .innerContainer.storageUnit{
    gap: 1px;
  }

}
@media (max-width: 767px) and (min-width: 601px){
  .tabBar {
    padding: 5px;
    width: 90%;
    margin-bottom: 20px;  
  }

  .activeTab {
    padding: 5px 15px;
  }
  
  .tab {
    padding: 10px 15px;
  }

  .tabBar button {
    font-size: 14px;
    line-height: 1.3;
  }


  .innerContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    row-gap: 5px;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    height: 150px; 
    max-width: 200px; 
    text-align: center;
    padding: 10px;
  }

  .iconContainer {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .icon {
    width: 80px;
    height: 90px;
  }

  .text {
    font-size: 14px;
    text-align: center;
    margin-top: 20px; 
    
  }

  .innerContainer > :nth-child(1),
  .innerContainer > :nth-child(2),
  .innerContainer > :nth-child(3),
  .innerContainer > :nth-child(4),
  .innerContainer > :nth-child(5),
  .innerContainer > :nth-child(6),
  .innerContainer > :nth-child(7),
  .innerContainer > :nth-child(8),
  .innerContainer > :nth-child(9) {
    grid-column: span 1;
  }
  .innerContainer.storageUnit{
    gap: 1px;
  }

}
  @media (max-width: 600px) {
    .tabBar {
      padding: 5px;
      width: 90%;
      margin-bottom: 20px;  
    }
  
    .activeTab {
      padding: 5px 15px;
    }
    
    .tab {
      padding: 10px 15px;
    }
  
    .tabBar button {
      font-size: 10px;
      line-height: 1.3;
    }
  

    .innerContainer {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      row-gap: 5px;
    }
  
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; 
      height: 150px; 
      max-width: 200px; 
      text-align: center;
      padding: 10px;
    }
  
    .iconContainer {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center; 
    }
  
    .icon {
      width: 80px;
      height: 90px;
    }
  
    .text {
      font-size: 14px;
      text-align: center;
      margin-top: 20px; 
      
    }
  
    .innerContainer > :nth-child(1),
    .innerContainer > :nth-child(2),
    .innerContainer > :nth-child(3),
    .innerContainer > :nth-child(4),
    .innerContainer > :nth-child(5),
    .innerContainer > :nth-child(6),
    .innerContainer > :nth-child(7),
    .innerContainer > :nth-child(8),
    .innerContainer > :nth-child(9) {
      grid-column: span 1;
    }
    .innerContainer.storageUnit{
      gap: 1px;
    }
  
 
  }

